body {
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-image: url("../assets/bgHome.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#titleImg {
  margin-top: 40px;
  width: clamp(0px, 700px, 90%);
}

.btContainer {
  position: fixed;
  width: clamp(0px, 600px, 90%);
  bottom: 0;
  margin-bottom: 40px;
}

.btMedium {
  width: 100%;
  cursor: pointer;
}

.btSmallContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.btSmall {
  width: 49%;
  cursor: pointer;
}

.btSmall:hover, .btMedium:hover {
  filter: invert(100%);
}

@media (max-height: 560px) {
  #titleImg {
    width: 100vh;
    max-width: 90%;
    margin-top: 5vh;
  }
  
  .btContainer {
    width: 80vh;
    max-width: 90%;
    margin-bottom: 10vh;
  }

  .btSmallContainer {
    margin-top: 5vh;
  }
}